body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

h1 {
  color: #f85a72;
  font-size: 2em;
}

.container {
  text-align: center;
  background-color: #eeddf9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  color: transparent;
  perspective: 1000px; /* Added for 3D effect */
}

.card-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #ffffff;
}

.card-back {
  background-color: #fff;
  font-size: 60px;
  color: #000;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

button {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(228, 240, 240);
  border: none;
  cursor: pointer;
  background-color: #050505;
}

/* Added styles for the blog section */
#blog {
  margin: 20px;
  padding: 15px;
  background-color: #f9ffaa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#blog h2 {
  font-size: 24px;
  color: #333;
}

#blog p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
